<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>

<caption title="Container Table"> Container Table</caption>
<table border="5px" bordercolor="#8707B0">
    <tr>
        <td>Left side of the main table</td>
        <td>
            <table border="5px" bordercolor="#F35557">
                <h4 align="center">Nested Table</h4>
                <tr>
                    <td>nested table C1</td>
                    <td>nested table C2</td>
                </tr>
                <tr>
                    <td>nested table</td>
                    <td>nested table</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{#************************#}
<caption title="Container Table"> Container Table</caption>
<table border="5px" bordercolor="red">
    <tr>
        <td>
            <table>
                <tr>
                    <th colspan="2"> Nested Table 2</th>
                </tr>
                <tr>
                    <th> Column 1</th>
                    <th> Column 2</th>
                </tr>
                <tr>
                    <td> Our First Table</td>
                    <td> Nested Within</td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <th> Nested Table 2</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                            <li> List Object 1</li>
                            <li> List Object 2</li>
                            <li> List Object 3</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <th colspan="2" align="center"> Nested Table 3</th>
                </tr>
                <tr>
                    <td><a href=""> Nested Table </a></td>
                    <td> Demo Continued</td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <th> Nested Table 4</th>
                </tr>
                <tr>
                    <td><img src="/static/img/first_secondicon_details.png" height="120px" width="120px" alt="Sorry Image could not be displayed">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>
</html>